/* Bolt ID */
.type div span:first-child {text-decoration: underline !important;}

/* Dimmensions */
#dimensions fieldset legend {display: none;}
.diagrams {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 12em;
  text-align: center;
}
.diagrams li { display: none; position: relative; }
.diagrams img { max-width: 100%; max-height: 12em; }
.diagrams .measurement {position: absolute; margin: 0px; background-color: white; border: solid red 1px;}

#diameter-inches {position: absolute; width: 100%; text-align: center; margin-top: -0.5em; font-size: 200%;}

/* Nuts Washers */
figure { margin: 0;}
.split .half {height: 48%; width: 100%; margin-top: 1em;}
.split .nuts {border-bottom: solid black 1px; }
.split img {float: left; height: 80%; margin-right: 1em;}
.split legend {float:right; width: 40%;}

/* Manfufacturer */
.ui-content { overflow: hidden; }

/* Finish */
.ui-li-desc, .ui-li-heading {overflow: visible;}
