/* Global */
.type-3 .grade-designator {text-decoration: underline;}

/* Bolt ID */
.type div span:first-child {text-decoration: underline !important;}

/* Dimmensions */
#dimensions fieldset legend {display: none;}
.diagrams {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 9em;
  text-align: center;
}
.diagrams li { display: none; position: relative; }
.diagrams img { max-width: 100%; max-height: 9em; }
.diagrams .measurement {position: absolute; margin: 0px; padding: 0.2em; background-color: #ffd; border: solid #ddd 1px;}
.diagrams .measurement[title="Length Extras"] {font-size: 0.75em; border: none;}
.diagrams .vertical.measurement {
     -moz-transform: rotate(90deg);  /* FF3.5+ */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; /* IE8 */
}

#diameter-inches {position: absolute; width: 100%; text-align: center; margin-top: -0.5em; font-size: 200%;}

/* Nuts Washers */
figure { margin: 0;}
.split .half {height: 48%; width: 100%; margin-top: 1em; clear: left;}
.split .nuts {border-bottom: solid black 1px; }
.split img {float: left; max-height: 80%; max-width: 40%; margin-right: 1em;}
.split .info {display: block; float:right; clear: right; width: 40%;}
.split hr {visibility: hidden; clear: both;}

/* Manfufacturer */
.ui-content { overflow: hidden; }

/* Finish */
.ui-li-desc, .ui-li-heading {overflow: visible;}
