/* Global */
.ui-content { overflow: hidden; }
.ui-li-link-alt {margin-top: -1px;}
.type-3 .grade-designator {text-decoration: underline;}
.current-finish {background-image: url(../images/finishes/mock.png);}
.current-finish.ui-btn-active {color: rgb(111, 172, 213);}

/* Bolt ID */
#bolt-id .illegal {color: red; text-decoration: line-through;}

.type-code {font-size: 75%;}
.type .ui-controlgroup-controls {display: block; width: 100%;}
.type .ui-radio {display: block; width: 50%;}

/* Dimmensions */
#dimensions fieldset legend {display: none;}
.diagrams {
  position: relative;
}
.diagrams ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 9em;
  width: 300%;
  margin-bottom: 1em;
}
.diagrams li { display: inline-block; position: relative; text-align: center; width: 30%; margin: 1.4%; padding: 0px;}
.diagrams img { max-width: 100%; max-height: 9em; }
.diagrams .measurement {position: absolute; margin: 0px; padding: 0.2em; background-color: #ffd; border: solid #ddd 1px;}
.diagrams .measurement {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
.diagrams .measurement.data {opacity: 1;}
.diagrams .measurement[title="Length Extras"] {font-size: 0.75em; border: none;}
.diagrams .vertical.measurement {
     -moz-transform: rotate(90deg);  /* FF3.5+ */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; /* IE8 */
}

#diameter-inches {position: absolute; width: 100%; text-align: center; margin-top: 0em; font-size: 200%;}
#diameter-label {margin-top: 1em;}

/* Nuts Washers - Split */
/* NW top/bottom split */
.split .half {height: 48%; width: 100%; margin: 0px; clear: left;}
.split hr {clear: both;}

/* NW formatting */
.allowed .astm {margin-top: 0px; margin-bottom: 3%; text-align: center; color: #666;}
.allowed img {float: left; max-height: 80%; max-width: 45%; }
.allowed .info {display: block; float:right; clear: right; width: 50%;}

.allowed .info label {display: block; font-size: 80%; color: #888; border-bottom: solid 1px; margin-top: 1%; margin-bottom: -0.5em; text-align: left;}
.allowed .info .grade, .allowed .info .type {margin-top: 10%; margin-bottom: 5%;}
.allowed .info .finish {font-size: 80%; font-weight: bold;}
.allowed .info .finish.note {font-size: 60%; font-weight: normal;}

.xsplit .half * {display: none;}
.xssplit .half {border: dashed red 1px; margin: -1px;}
.xssplit {border: dashed blue 1px; margin: -1px;}

/* Nuts Washers - List */
#nuts-and-washers-list .illegal {display: none;}
#nuts-and-washers-list label {font-size: 80%; font-weight: bold; color: #888; margin-right: 0.5em;}

/* Zoom */
.zoom {position: relative;}
.zoom img {width: 100%; height: 100%; max-width: 100%; max-height: 100%;}

/* Manfufacturer */
.manufacturers .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {padding-left: 3em;}
.manufacturers .ui-btn-text {position: relative; }
.manufacturers .ui-li-thumb {position: relative; float: none; max-width: 100%; max-height: 100%;}

.index {
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 0em 0em 0.2em white, 0 0 0.1em white, 0 0 0.05em white;
  position: fixed;
  z-index: 3;
  left: 0px;
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 0.5em;
  font-size: 90%;
}
.index li {padding: 0em 1em;}

/* Finish */
.ui-li-desc, .ui-li-heading {overflow: visible;}
.illegal .ui-li-desc, .illegal .ui-li-heading {color: #888; text-decoration: line-through;}

/* Grade */
.on-bolt {position: absolute; font-size: 11px; left: 25px; top: 0px;}
