#dimensions .ui-content {padding-top: 0;}

.diagrams {margin-left: -15px; margin-right: -15px;}
.diagrams ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 401%;
  position: relative;
}
.diagrams li {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 24.6%;
  margin: 0;
  padding: 0;
}
#tc-bolt-diagram {display: none;}
.tc-bolt #standard-bolt-diagram {display: none;}
.tc-bolt #tc-bolt-diagram {display: block;}
.diagrams ul {
  margin-left: 0;
  -moz-transition: margin-left 0.4s;
  -webkit-transition: margin-left 0.4s;
  -o-transition: margin-left 0.4s;
  transition: margin-left 0.4s;
}
.diagrams img { max-width: 100%;}
.diagrams .measurement {
  position: absolute;
  margin: 0;
  color: blue;
}
.diagrams .measurement.grade-designator {
  color: black;
}
.diagrams .measurement {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
.diagrams .data {opacity: 1;}
.diagrams p.measurement[title="Length Extras"] {font-size: 0.75em; border: none;}
.diagrams .vertical {
     -moz-transform: rotate(90deg);  /* FF3.5+ */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(90deg);  /* IE ? */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; /* IE8 */
          transform: rotate(90deg);
}

/* Diameters slider */
.diameter-inches {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 150%;
}

.slider-mark {
  position: absolute;
  background-color: #aaa;
  margin-left: -0.1em;
  width: 0.2em;
  height: 1em;
}

/* Diagram Select */
.diagram-select fieldset {margin: 0;}
.diagram-select .ui-radio .ui-btn-inner {
  padding: 1.5em;
  padding-top: 2.5em;
  padding-bottom: 0.3em;
  font-size: 75%;
}

/* See also: font icon declaration under global */
label[for="bolt-select"] .ui-btn-inner:before {
  content: "\e003";
}

label[for="nut-select"] .ui-btn-inner:before {
  content: "\e004";
}

label[for="round-select"] .ui-btn-inner:before {
  content: "\e005";
}

label[for="square-select"] .ui-btn-inner:before {
  content: "\e006";
}
