.illegal .ui-li-desc, .illegal .ui-li-heading {color: #888; text-decoration: line-through;}
.finishes .ui-li-desc {white-space: normal;}
.finishes .ui-icon {display: none;}
.finishes .selected .ui-icon {display: inherit;}

.finishes li[title="Plain"] {background: #888;}
.type-3 .finishes li[title="Plain"] {background: #c75;}
.finishes li[title="Galvanized (Hot-Dip)"] {background: #ddd;}
.finishes li[title="Galvanized (Mechanical)"] {background: #ccc;}
.finishes li[title="Zn/Al Inorganic"] {background: #99e;}

.finish-plain .finish a {background: #888;}
.finish-galvanized-hot-dip .finish a {background: #ddd;}
.finish-galvanized-mechanical .finish a {background: #ccc;}
.finish-zn-al .finish a {background: #99e;}
.finish-weathering .finish a {background: #c75;}

.finish-plain .ui-navbar a[href="#bolt-id"] .ui-btn-inner:before {color: #888}
.finish-galvanized-hot-dip .ui-navbar a[href="#bolt-id"] .ui-btn-inner:before {color: #ddd}
.finish-galvanized-mechanical .ui-navbar a[href="#bolt-id"] .ui-btn-inner:before {color: #ccc}
.finish-zn-al .ui-navbar a[href="#bolt-id"] .ui-btn-inner:before {color: #99e}
.finish-weathering .ui-navbar a[href="#bolt-id"] .ui-btn-inner:before {color: #c75}
