/* jquery mobile builder patch */
.ui-screen-hidden { display: none; }

/* Global */
.ui-content { overflow: hidden; padding-top: 0.5em; padding-bottom: 0.5em;}
.ui-li-desc, .ui-li-heading {overflow: visible; white-space: normal;}
.ui-btn {margin-top: 0.3em; margin-bottom: 0.3em;}
.ui-controlgroup, .ui-controlgroup-label {margin-top: 0.3em; margin-bottom: 0.3em;}
.ui-li-link-alt {margin-top: -1px;}
.ui-header .ui-title  {line-height: 1.6em;}
.ui-header a.ui-btn-icon-notext {border-radius: 1.5em; padding: 0.5em;} 
ul+.ui-bar {margin-top: 1em;}

.type-3 .grade-designator {text-decoration: underline;}

.ui-header a[href="#disclaimer"] {right: 3em;}
.ui-header .help {right: 4em;}

.inline-help {margin-bottom: 2em;}

.longtext {text-align: justify; padding-left: 2em; padding-right: 2em;}
.longtext img {max-width: 100%;}

@font-face {
  font-family: 'BoltApp';
  src:url('fonts/BoltApp.eot');
  src:url('fonts/BoltApp.eot?#iefix') format('embedded-opentype'),
    url('fonts/BoltApp.woff') format('woff'),
    url('fonts/BoltApp.ttf') format('truetype'),
    url('fonts/BoltApp.svg#BoltApp') format('svg');
  font-weight: normal;
  font-style: normal;
}

.diagram-select .ui-radio .ui-btn-inner:before,
.ui-navbar li .ui-btn .ui-btn-inner:before {
  font-family: 'BoltApp';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  font-size: 2em;
  position: absolute;
  top: 0.2em;
  left: 50%;
  margin-left: -0.5em;
}

.ui-navbar li .ui-btn .ui-btn-inner {
  padding-top: 2.5em;
  padding-bottom: 0.3em;
  font-size: 75%;
}

/* art test fallback
.diagram-select .ui-radio .ui-btn-inner,
.ui-navbar .ui-btn-inner {
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center 0.3em;
}

.ui-navbar a[href="#bolt-id"] .ui-btn-inner {
  background-image: url("../images/icons/bolt-id.svg");
}*/

.ui-navbar a[href="#bolt-id"] .ui-btn-inner:before {
  content: "\e000";

  border-radius: 2em;
  border: solid black 0.2em;
  margin-top: -0.2em;
  margin-left: -0.7em;
  background: black;
}

.ui-navbar a[href="#dimensions"] .ui-btn-inner:before {
  content: "\e001";
}

.ui-navbar a[href="#nuts-and-washers"] .ui-btn-inner:before {
  content: "\e002";
}

/* Override style c as e for selected item */

.selected.ui-btn-up-c,
.selected .ui-btn-up-c {
	border: 1px solid 		#f4c63f /*{e-bup-border}*/;
	background: 			#fadb4e /*{e-bup-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ 	#fff /*{e-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffefaa /*{e-bup-background-start}*/), to( #ffe155 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/);
}
.selected .ui-btn-up-c:visited,
.selected .ui-btn-up-c a.ui-link-inherit {
	color: 					#222 /*{e-bup-color}*/;
}
.selected.ui-btn-hover-c,
.selected .ui-btn-hover-c {
	border: 1px solid 		#f2c43d /*{e-bhover-border}*/;
	background: 			#fbe26f /*{e-bhover-background-color}*/;
	font-weight: bold;
	color: 					#111 /*{e-bhover-color}*/;
	text-shadow: 0 /*{e-bhover-shadow-x}*/ 1px /*{e-bhover-shadow-y}*/ 0 /*{e-bhover-shadow-radius}*/ 	#fff /*{e-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff5ba /*{e-bhover-background-start}*/), to( #fbdd52 /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fff5ba /*{e-bhover-background-start}*/, #fbdd52 /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fff5ba /*{e-bhover-background-start}*/, #fbdd52 /*{e-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fff5ba /*{e-bhover-background-start}*/, #fbdd52 /*{e-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fff5ba /*{e-bhover-background-start}*/, #fbdd52 /*{e-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #fff5ba /*{e-bhover-background-start}*/, #fbdd52 /*{e-bhover-background-end}*/);
}
.selected.ui-btn-hover-c:visited,
.selected .ui-btn-hover-c:visited,
.selected.ui-btn-hover-c:hover,
.selected .ui-btn-hover-c:hover,
.selected.ui-btn-hover-c a.ui-link-inherit,
.selected .ui-btn-hover-c a.ui-link-inherit {
	color: 					#333 /*{e-bhover-color}*/;
}
.selected .ui-btn-down-c {
	border: 1px solid 		#f2c43d /*{e-bdown-border}*/;
	background: 			#fceda7 /*{e-bdown-background-color}*/;
	font-weight: bold;
	color: 					#111 /*{e-bdown-color}*/;
	text-shadow: 0 /*{e-bdown-shadow-x}*/ 1px /*{e-bdown-shadow-y}*/ 0 /*{e-bdown-shadow-radius}*/ 	#fff /*{e-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f8d94c /*{e-bdown-background-start}*/), to( #fadb4e /*{e-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f8d94c /*{e-bdown-background-start}*/, #fadb4e /*{e-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f8d94c /*{e-bdown-background-start}*/, #fadb4e /*{e-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f8d94c /*{e-bdown-background-start}*/, #fadb4e /*{e-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f8d94c /*{e-bdown-background-start}*/, #fadb4e /*{e-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f8d94c /*{e-bdown-background-start}*/, #fadb4e /*{e-bdown-background-end}*/);
}
.selected .ui-btn-down-c:visited,
.selected .ui-btn-down-c:hover,
.selected .ui-btn-down-c a.ui-link-inherit {
	color: 					#333 /*{e-bdown-color}*/;
}
